h3{
    color: rgb(235, 225, 225);
}

.section-padding{
    padding: 100px 0;
}
.main{
    border: 2px solid greenyellow;
}
.box-1{
    border: 2px solid olive;
}

.box-2{
    border: 2px solid olive;
}

.form-layout{
    border-radius: 15px;
    width: 500px;
    border: 1px solid black;
}