h3{
    color: rgb(177, 68, 68);
}

.section-padding{
    padding: 100px 0;
}
.main{
    border: 2px solid greenyellow;
}
.box-1{
    border: 2px solid olive;
}

.box-2{
    border: 2px solid olive;
}